
@font-face {
    font-family: 'Custom';
    src: url(../../resources/fonts/Demon\ _Night.ttf);
}

body,html{
    background-color: #262526;
}

.head {
    background-image: url(../../resources/img/banner.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-position-y: -10em;
    background-size:100%;
    height: 7cm;
}

@media (min-width: 1100px) {
    .head{
        background-position-y:-10em;
    }
}



.film{
    display: flex;
    justify-content: center;
    font-family: 'Custom' !important;
    font-size: 2em;
    color: rgb(255, 255, 255);
}

h2, h3, p, a {
    font-family: 'Sofia Sans';
}



.navigation ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}



.navigation li {
    background-color: rgb(39, 39, 39);
    font-size: 1.2em;
    font-family: 'Sofia Sans';
    margin-bottom:1em;
    width: 5em;
    height: 2em;
    text-align: center;
    color: #f3f3f3;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

.navigation a{
    position: relative;
    top: 20%;
    text-shadow: #a5a5a5;
    text-decoration: none;
    color: #f3f3f3;
    
} 


.rss-sections{
    display:flex;
    justify-content: center;
    flex-wrap: wrap ;
    width: 100%;
    height: 25em;
    margin-top: 1em;
    background-color: #f3f3f3;
}

.texting_rss{
    width: 100%;
    color: rgb(0, 0, 0);
    background-color: #f3f3f3;
}

.info_basic{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap ;
    width: 100%;
    height: 25em;
    margin-top: 1em;

    background-color: #f3f3f3;
}

.info_text{
    width: 40%;
    background-color: #f3f3f3;
}

.info_text h3,p {
    margin: 1em;
}

.trailer_movie{
    background-color: rgb(79, 131, 131);
    width: 60%;
    display: flex;
    align-items: center;
    justify-content:baseline;
    flex-direction: column;
    background-color: #f3f3f3;
}

.personal{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap ;
    width: 100%;
    margin-top: 1em;
}

.recomendation{
    width: 40%;
    background-color:#f3f3f3;
    display: flex;
    justify-content: center;
}

.recomendation video{
    margin-top: 1em;
    margin-bottom: 1em;
    
}

.personal_texto{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #f3f3f3;
    width: 60%;
}

.streaming_panel{
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    width: 100%;
    margin-top: 1em;
}

.streming_text{
    display: flex;
    justify-content: center;
}

.container_char {
    background-color: #7f8084;
}

.characters{
    margin-top: 2em ;
    margin-left: 3em;
    display: grid;

    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 20px;



}

.number {
    width: 65%;
    height: 20em;
    background-color: rgb(121, 88, 88);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: flex-end;

    border-color: #262526;
    border-width: 10px;
    border-style: outset;
}

.n9 {
    background-image: url(../../resources/img/img9.png);
    
}
.n1 {
    background-image: url(../../resources/img/img1.png);
}
.n5 {
    background-image: url(../../resources/img/img5.png);
}
.n2 {
    background-image: url(../../resources/img/img2.png);
}
.n8 {
    background-image: url(../../resources/img/img8.png);
}
.number:hover .note{
    visibility: visible;
    height: 15em;
}

.note{
    visibility: hidden;
    width: 100%;
    height: 1em;
    opacity: 0.8;
    background-color: rgb(255, 255, 255);
    transition: height 0.7s;
    -webkit-transition: height 0.7s;
    -moz-transition: height 0.7s;
    -ms-transition: height 0.7s;
    -o-transition: height 0.7s;
}

.director {
    display: flex;
    background-color: #f3f3f3;
    margin-top: 1em;
}

.text_director {
    width: 50%;
    margin-left: 2em;
}

.director_image {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 50%;
}

.director_image img {
    width: 35%;
    height: 100%;
}


.enemies {
    background-color: #d7d8da;
}

.enemie{
    box-shadow: 20px 25px 24px -9px rgba(0,0,0,0.75);
}

.enemies .up{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 23em;
    margin-top: 3em;
    margin-bottom: 2em;
}

.enemies_text {
    display: flex;
    justify-content: center;
    margin-top: 1em;

}

.e1{
    width: 35%;
    background-image:url(../../resources/img/enemie1.jpg);
    background-position:50%;
    display: flex;
    align-items: flex-end;
}
.e2{
    width:35%;
    background-position:50%;
    background-image:url(../../resources/img/enemie4.png);
    display: flex;
    align-items: flex-end;
}
.e3{
    height: 25em;
    background-image:url(../../resources/img/enemie5.jpg);
    display: flex;
    align-items: flex-end;
    margin-bottom: 1em;
}

.down{
    display: flex;
    justify-content: center;
    
}

.desc{
    background-color: aliceblue;
    border-radius: 1em 1em 0em 0em;

}

.gallerie{
    background-color: #d7d8da;
}

.images {
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-around;
}

.images img{
    margin-top: 1em;
    margin-bottom: 1em;
    width: 30em;
    height: 50%;
}

.bibliography{
    background-color: #d7d8da;
    margin-top: 1em;
    
}

.bibliography_link a{
    text-decoration:none;
    color: #252527;
}

.b_text{
   padding-left: 1em;
   padding-top: 0.1em;
}


.streaming_table table{
    margin-left: 25%;
    width:50%;
    border:hidden;
    height: 10em;
    border-collapse: collapse;
    margin-bottom: 2em;
}

td, th {
    border:hidden;
    text-decoration: none;
    text-emphasis-color: black;
    text-align: center;
}
th {
    background-color: #252527;
    color: white;
}
td {
    background-color: #a5a5a5; 
}


.form{
    background-color: #a5a5a5; 
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.formulario{
    margin-top: 1em;
}

.form_name{
    display: flex;
    flex-direction: column;
}



.form_name input{
    margin-top: 1em;
    font-size: 1.2em;
    background-color: #a5a5a5;
    border: none;
    border-bottom: 2px solid #262526;
    outline: none;
}

.form_opinion textarea {
    margin-top: 1em;
    font-size: 1.2em;
    background-color: #a5a5a5;
    border: none;
    border-bottom: 2px solid #262526;
    outline: none;
}

.form_character, label{
    font-family: 'Sofia Sans';
    font-size: 1.1em;
}




select{

    background-color: #d7d8da;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

option {
    font-family: 'Sofia Sans';
}

.form_platform {
    font-family: 'Sofia Sans';
    font-size: 1.2em;
}

.form_rate{
    display: flex;
    flex-direction: column;
}

legend {
    font-family: 'Sofia Sans';
    font-size: 1.2em;
}

.form_personal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_submit input{
    background-color: #707070;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}




/* CSS */
.button_deco{
  background-color: #575254;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 3em;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button_deco:hover,
.button_deco:focus {
  background-color: #686566;
}

.container_sections{
    margin-top: 1em;
    width: 100%;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    
}


.card_not{
    width: 60%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 3em;
    height: 10em;
    background-color: #707070;
    display: flex;
    justify-content: center;
}

.card_not img{
    height: 10em;
}

.card_text{
    margin-left: 1em;
}

.section_header{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
}